.frame {
  background-color: #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #3f3f3f;
  overflow: hidden;
  width: 951px;
  height: 1345px;
}

.frame .overlap {
  position: relative;
  width: 994px;
  height: 1345px;
  left: 4px;
}

.frame .overlap-group {
  position: absolute;
  width: 994px;
  height: 1345px;
  top: 0;
  left: 0;
}

.frame .div {
  position: absolute;
  width: 468px;
  height: 1345px;
  top: 0;
  left: 0;
}

.frame .rectangle {
  position: absolute;
  width: 234px;
  height: 1345px;
  top: 0;
  left: 0;
}

.frame .financial-tracker {
  position: absolute;
  width: 261px;
  top: 65px;
  left: 24px;
  transform: rotate(0.01deg);
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #2b28c9;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .balance {
  position: absolute;
  width: 204px;
  top: 69px;
  left: 264px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .add-income {
  position: absolute;
  width: 245px;
  top: 186px;
  left: 264px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper {
  position: absolute;
  width: 276px;
  top: 282px;
  left: 264px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .view-transaction {
  position: absolute;
  width: 421px;
  top: 393px;
  left: 264px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 143px;
  top: 238px;
  left: 264px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  width: 190px;
  top: 329px;
  left: 264px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap-2 {
  position: absolute;
  width: 514px;
  height: 30px;
  top: 438px;
  left: 271px;
}

.frame .filter-by-date {
  width: 299px;
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .filter-by-category {
  width: 306px;
  top: 0;
  left: 208px;
  white-space: nowrap;
  position: absolute;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .filter-by-type {
  width: 236px;
  top: 445px;
  left: 758px;
  white-space: nowrap;
  position: absolute;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .img {
  position: absolute;
  width: 136px;
  height: 23px;
  top: 253px;
  left: 394px;
}

.frame .rectangle-2 {
  position: absolute;
  width: 136px;
  height: 23px;
  top: 485px;
  left: 271px;
}

.frame .rectangle-3 {
  position: absolute;
  width: 136px;
  height: 23px;
  top: 369px;
  left: 266px;
}

.frame .element {
  position: absolute;
  width: 241px;
  top: 121px;
  left: 294px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 166px;
  top: 329px;
  left: 506px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: absolute;
  width: 140px;
  top: 331px;
  left: 723px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  position: absolute;
  width: 130px;
  top: 244px;
  left: 545px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .rectangle-4 {
  position: absolute;
  width: 136px;
  height: 23px;
  top: 369px;
  left: 509px;
}

.frame .rectangle-5 {
  position: absolute;
  width: 136px;
  height: 23px;
  top: 369px;
  left: 723px;
}

.frame .rectangle-6 {
  position: absolute;
  width: 136px;
  height: 23px;
  top: 485px;
  left: 758px;
}

.frame .rectangle-7 {
  position: absolute;
  width: 136px;
  height: 23px;
  top: 485px;
  left: 496px;
}

.frame .rectangle-8 {
  position: absolute;
  width: 147px;
  height: 22px;
  top: 253px;
  left: 702px;
  background-color: #d9d9d9;
}
