html {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #F2F2F2;  
    text-align: center;  
  }
  
  h1 {
    
    padding: 50px;
    padding-top: 250px;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
    font-family: Georgia;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }
  
  h2 {
    padding: 40px 20px 0 20px;
    font-size: 24px;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  p {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
  }

.header {
    position: static;
    top: 0;
    width: 100%;
    left: 100px;
    padding: 20px 0;
    background-color: #554848;
    font-size: 14px;
    font-weight: 900;
}
.header li {
    display: inline-block;
    padding: 10px;
}

.header a {
    color: #000000;
  }
  
  a.home {
    color: #000000;
  }

  a.pagelink1 {
    color: #050505;
  }

  .information {
    padding-bottom: 40px;
    color: #717171;
    font-family: 'Trebuchet MS', 'Times New Roman', serif;
  }

  .information img {
    display: block;
    width: 1200px;
    margin: 0px auto;
    padding: 15px;
  }
  .me {
    margin-top: 74px;
    padding: 40px 0 100px 0;
    background-color: #4D00FF;
  }
  
  .me p {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #ffffff;
    font-weight: lighter;
    word-spacing: 0.25em;
    line-height: 1.4;
    font-family: 'GlegooBanner';
    font-size: 20px;
  }

  .title {
    padding: 10px 0 40px 0;
    background-color: #ffffff;
    text-align: center;
    color:rgb(0, 0, 0);
  }

  .first img {
    display: block;
    width: 100px;
    margin: 0px auto;
  }
  img{
    width: 100;
    height: 200;
  }
