.frame {
  background-color: #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #3f3f3f;
  overflow: hidden;
  width: 951px;
  height: 1345px;
  position: relative;
}

.frame .add-income {
  position: absolute;
  width: 245px;
  top: 186px;
  left: 268px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .balance {
  position: absolute;
  width: 204px;
  top: 69px;
  left: 268px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper {
  position: absolute;
  width: 276px;
  top: 282px;
  left: 268px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap-group {
  position: absolute;
  width: 421px;
  height: 70px;
  top: 368px;
  left: 268px;
}

.frame .view-transaction {
  position: absolute;
  width: 421px;
  top: 25px;
  left: 0;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .rectangle {
  width: 172px;
  height: 26px;
  top: 0;
  left: 5px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .rectangle-2 {
  width: 148px;
  height: 24px;
  top: 2px;
  left: 245px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 143px;
  top: 238px;
  left: 268px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  width: 166px;
  top: 329px;
  left: 510px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 140px;
  top: 331px;
  left: 727px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: absolute;
  width: 190px;
  top: 329px;
  left: 268px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap {
  position: absolute;
  width: 723px;
  height: 30px;
  top: 438px;
  left: 275px;
}

.frame .overlap-2 {
  position: absolute;
  width: 514px;
  height: 30px;
  top: 0;
  left: 0;
}

.frame .filter-by-date {
  width: 299px;
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .filter-by-category {
  width: 306px;
  top: 0;
  left: 208px;
  white-space: nowrap;
  position: absolute;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .filter-by-type {
  width: 236px;
  top: 7px;
  left: 487px;
  white-space: nowrap;
  position: absolute;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-6 {
  position: absolute;
  width: 130px;
  top: 244px;
  left: 549px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .rectangle-3 {
  width: 147px;
  height: 22px;
  top: 258px;
  left: 689px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .element {
  position: absolute;
  width: 241px;
  top: 121px;
  left: 298px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .rectangle-4 {
  width: 136px;
  height: 27px;
  top: 253px;
  left: 403px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .rectangle-5 {
  width: 136px;
  height: 22px;
  top: 372px;
  left: 731px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .rectangle-6 {
  width: 169px;
  height: 30px;
  top: 472px;
  left: 276px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .rectangle-7 {
  width: 202px;
  height: 32px;
  top: 470px;
  left: 493px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .rectangle-8 {
  width: 149px;
  height: 31px;
  top: 478px;
  left: 768px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .financial-tracker-wrapper {
  position: absolute;
  width: 231px;
  height: 1387px;
  top: -25px;
  left: -13px;
  background-color: #090909;
}

.frame .financial-tracker {
  position: absolute;
  width: 178px;
  top: 49px;
  left: 38px;
  font-family: "Red Rose-Bold", Helvetica;
  font-weight: 700;
  color: #1426c0;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}
